:root {
    /* Cores principais */
    --color-bg: #0e0e17;
    --color-primary: #a970ff;
    --color-secondary: #b388ff;
    --color-accent: rgba(255, 255, 255, 0.06);

    /* Texto */
    --color-text: #f0f0ff;
    --color-text-muted: #b0aecd;

    /* Glassmorphism */
    --color-surface: rgba(255, 255, 255, 0.07);
    --color-surface-border: rgba(255, 255, 255, 0.12);
    --blur: 16px;
    --shadow: 0 8px 32px rgba(0, 0, 0, 0.35);

    --radius: 16px;
}